<div class="blog-masthead text-white bg-dark">
  <div class="container">
    <nav class="nav blog-nav text-white bg-dark">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
