<h1>About Me</h1>
<p>In 2015 I graduated Utah State University with a Bachelor's Degree in Law and Constitutional Studies. Although it had been my childhood dream to become a lawyer, after graduation I quickly realized that my passions had evolved and I became fascinated with Computer Programming and Software Development. I am currently enrolled in classes at Devcamp, where I am learning how to use Ruby on Rails to create applications and manage data flow. </p>
