<h1>Would you like to work together?</h1>

<hr>

<div class="row">
 <div class="col-md-6">
   <h3> Office Address </h3>

   <p> 5213 Mesquite Dr #3, Chubbuck, ID 83202</p>

   <h3> Phone </h3>

   <p><%= number_to_phone "2082524295" %></p>

   <h3>Email</h3>

   <p><a href="mailto:lydiaspeirs@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>

  </div>

  <div class= "col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2921.3694002587663!2d-112.47138958479495!3d42.928338707016444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5355442ae168d0f1%3A0xd8d1a06181bb6440!2s5213+Mesquite+Dr%2C+Chubbuck%2C+ID+83202!5e0!3m2!1sen!2sus!4v1508800531284" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>