<div class="inner cover">
  <h1 class="cover-heading">Welcome to my online portfolio!</h1>
  <p class="lead"> As a new developer, I am very excited and proud to have created a website where I can show and display some of my best and most creative work. 
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



